[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json.git
[submodule "dependencies/thero"]
	path = dependencies/thero
	url = git@gitlab.com:spring-dev/libs/thero.git
[submodule "dependencies/imgui"]
	path = dependencies/imgui
	url = git@gitlab.com:spring-dev/libs/imgui.git
[submodule "dependencies/dophax"]
	path = dependencies/dophax
	url = git@gitlab.com:spring-dev/libs/dophax.git
[submodule "dependencies/lodepng"]
	path = dependencies/lodepng
	url = git@gitlab.com:spring-dev/libs/lodepng.git
[submodule "dependencies/spring"]
	path = dependencies/spring
	url = git@gitlab.com:spring-dev/libs/spring.git
[submodule "dependencies/glades2"]
	path = dependencies/glades2
	url = git@gitlab.com:spring-dev/libs/glades2.git
[submodule "sconstools"]
	path = sconstools
	url = git@gitlab.com:spring-dev/libs/sconstools.git
[submodule "dependencies/json"]
	path = dependencies/json
	url = git@gitlab.com:spring-dev/libs/json.git
[submodule "dependencies/catch"]
	path = dependencies/catch
	url = git@gitlab.com:spring-dev/libs/catch.git
[submodule "dependencies/binpack"]
	path = dependencies/binpack
	url = git@gitlab.com:spring-dev/libs/rect_bin_pack.git
[submodule "dependencies/stb_truetype"]
	path = dependencies/stb_truetype
	url = git@gitlab.com:spring-dev/libs/stb_truetype.git
[submodule "dependencies/glm"]
	path = dependencies/glm
	url = git@gitlab.com:spring-dev/libs/glm.git
